.beat-outer-container {
  width: 100%;
  margin-top: 32px;
  padding: 16px 24px;
  /* border: 1px solid yellow; */
}

.beat-line {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.beat-line.only {
  justify-content: center;
}

.beat {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.beat-label {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: var(--mid-gray);
  transition: opacity 0.3s ease-out;
  /* border: 1px solid lightblue; */
}

.beat-label.hidden {
  opacity: 0;
}

@keyframes flash {
  0% {
    background-color: hotpink;
  }

  100% {
    background-color: var(--bg-secondary);
  }
}

.beat-indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  margin-top: 16px;
}

.beat-indicator.active {
  animation: flash 0.4s ease-out;
}

.beat-line.only .beat-label {
  opacity: 0;
}

.beat-indicator.off {
  /* NOTE: I like how it looks when the lights/indicators appear only if the metronome is active.
     Nevertheless, we may want to show the "lights off" in some cases (or themes.) */
  /* background-color: var(--bg-primary); */
  opacity: 0;
}

.subdivision-display {
  width: 100%;
  height: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid green; */
}

.subdivision-line {
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--bg-tertiary);
}

.subdivision-line.current {
  color: yellowgreen;
}
