.beat-config-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid seagreen; */
}

.beat-config {
  width: 100%;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  gap: 3vw;
  padding: 1vh 0;
  /* border: 1px solid red; */
  /* gap: 8px; */
}
