.controls-outer-container {
  width: 100%;
  height: 40%;
  /* border: 1px solid limegreen; */
}

.controls {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2vh;
  /* border: 1px solid hotpink; */
}

.control {
  width: 5vh;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid pink; */
}

.control-label {
  /* labels can overflow.  The layout aligns the buttons. */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mid-gray);
}

.control-button-outer {
  width: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-darker);
  /* background-image: conic-gradient(from 45deg, purple, steelblue, limegreen, steelblue, purple); */
  background-image: conic-gradient(
    from 192deg,
    darkslateblue,
    black,
    var(--bg-darker) 120deg,
    var(--bg-tertiary),
    var(--bg-darker) 240deg,
    black,
    darkslateblue
  );
  border: 2px solid black;
  border-radius: 50%;
}

.control-button-inner {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-image: linear-gradient(var(--bg-primary), var(--bg-darker));
  /* border: 1px solid black; */
}
