.display-outer-container {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
}

.display-inner-container {
  width: 80%;
  height: 100%;
  /* border: 1px solid grey; */
}

.display-tag {
  padding: 0.5vh 5vw;
  width: fit-content;
  height: 4vh;
  background-color: var(--bg-darker);
  color: var(--fg-tertiary);
  font-size: 2vh;
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid var(--bg-secondary);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  position: relative;
  top: 2px;
  z-index: 1000;
}

.display {
  width: 100%;
  height: calc(100% - 4vh);
  background-color: var(--bg-darker);
  border: 1px solid var(--bg-secondary);
  border-radius: 0px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bpm {
  color: var(--fg-tertiary);
  font-size: 8vh;
  font-family: 'Noto Sans', sans-serif;
  /* border: 1px solid green; */
}

.tempo {
  color: var(--fg-tertiary);
  font-family: 'Charis SIL', serif;
  font-style: italic;
  font-size: 3vh;
  /* border: 1px solid green; */
}

@media (orientation: landscape) {
  .display-outer-container {
    padding-top: 3vh;
  }

  .display-inner-container {
    width: 100%;
  }

  .display-tag {
    position: absolute;
    top: 0;
    left: 2vw;
    border: 1px solid var(--bg-secondary);
    padding: 0 3vw;
    height: 6vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4vh;

    font-size: 3vh;
  }

  .display {
    height: 100%;
    border-radius: 8px;
  }

  .bpm {
    font-size: 15vh;
  }

  .tempo {
    font-size: 5vh;
  }
}
