.display-outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
}

.display-inner-container {
  width: 80%;
  /* border: 1px solid grey; */
}

.display-tag {
  padding: 8px 16px;
  width: fit-content;
  background-color: var(--bg-darker);
  color: var(--fg-tertiary);
  font-size: 0.7rem;
  font-family: 'Noto Sans', sans-serif;
  /* letter-spacing: 1px; */
  border: 1px solid var(--bg-secondary);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  position: relative;
  top: 2px;
  z-index: 1000;
}

.display {
  width: 100%;
  background-color: var(--bg-darker);
  border: 1px solid var(--bg-secondary);
  border-radius: 0px 8px 8px 8px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.bpm {
  color: var(--fg-tertiary);
  font-size: 3rem;
  font-family: 'Noto Sans', sans-serif;
}

.tempo {
  color: var(--fg-tertiary);
  font-family: 'Charis SIL', serif;
  font-style: italic;
  font-size: 1rem;
}
