footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--bg-secondary);
  /* border: 1px solid pink; */
}

.made-with-love {
  font-family: 'Orbitron', 'Ubuntu Sans', 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  color: var(--mid-gray);
}

.love {
  color: hotpink;
  font-size: 1rem;
  margin: 0 4px;
  transform: translateY(2px);
}

.author {
  color: mediumslateblue;
  font: inherit;
}

/* NOTE: For very small displays, show the message on the top (bar).
   Maybe we can do this always (it looks good) when the app is in landscape mode. */
@media (orientation: landscape) and (max-height: 375px) {
  footer {
    height: 40px;
    width: fit-content;
    position: fixed;
    top: 0;
    right: 60px;
    font-style: italic;
    border: none;
    /* display: none; */
  }
}
