.metronome {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 3fr;
  overflow: scroll;
  padding: 4vw;
  /* border: 1px solid steelblue; */
}

#top-group,
#bottom-group {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

#top-group {
  /* border: 1px solid lime; */
}

#bottom-group {
  /* border: 1px solid hotpink; */
}

@media (orientation: landscape) {
  .metronome {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
  }
}

@media (orientation: landscape) {
  .metronome {
    padding: 0 4vw;
  }
}
