.top-bar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-bottom: 1px solid var(--bg-secondary);
  /* border: 1px solid yellow; */
}

.app-name {
  background: linear-gradient(
    to right,
    var(--mid-gray),
    var(--fg-primary),
    var(--mid-gray)
  );
  background-clip: text;
  color: transparent;
  font-family: 'Orbitron', 'Noto Sans', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px black;
}

.menu-icon {
  color: var(--mid-gray);
}

@media (orientation: portrait) and (min-width: 480px) {
  .top-bar {
    padding: 0 24px;
  }
}

@media (orientation: landscape) and (min-height: 480px) {
  .top-bar {
    padding: 0 24px;
  }
}
