.top-bar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  border-bottom: 1px solid var(--bg-secondary);
  /* border: 1px solid yellow; */
}

.app-name {
  background: linear-gradient(
    to right,
    var(--mid-gray),
    var(--fg-primary),
    var(--mid-gray)
  );
  background-clip: text;
  color: transparent;
  font-family: 'Orbitron', 'Noto Sans', sans-serif;
  font-size: 2.5vh;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px black;
}

.menu-icon {
  color: var(--mid-gray);
  font-size: 3.5vh;
}

@media (orientation: landscape) {
  .top-bar {
    padding: 0 2vw;
  }

  .app-name {
    font-size: 4vh;
  }

  .menu-icon {
    font-size: 5vh;
  }
}
