.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr 80px;
  /* border: 1px solid red; */
}

.top-bar {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--bg-secondary);
  /* border: 1px solid yellow; */
}

.app-name {
  margin-left: 12px;
  background: linear-gradient(to right, var(--mid-gray), var(--fg-primary), var(--mid-gray));
  background-clip: text;
  color: transparent;
  font-family: "Orbitron", "Noto Sans", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px black;
}