@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
  --fg-primary: #d0d0d0;
  --fg-secondary: #b0b0b0;
  --fg-tertiary: #909090;

  --mid-gray: #707070;

  --bg-tertiary: #505050;
  --bg-secondary: #303030;
  --bg-primary: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--fg-primary);

  font-family: "Noto Sans", sans-serif;
}