@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close,favorite,menu&display=swap');

:root {
  --fg-primary: #d0d0d0;
  --fg-secondary: #b0b0b0;
  --fg-tertiary: #909090;

  --mid-gray: #707070;

  --bg-tertiary: #505050;
  --bg-secondary: #303030;
  --bg-primary: #101010;

  --bg-darker: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--bg-darker);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fg-primary);
  font-family: 'Noto Sans', sans-serif;

  background-color: var(--bg-darker);
  /* border: 2px solid red; */
}
