@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=favorite");


@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --fg-primary: #d0d0d0;
  --fg-secondary: #b0b0b0;
  --fg-tertiary: #909090;

  --mid-gray: #707070;

  --bg-tertiary: #505050;
  --bg-secondary: #303030;
  --bg-primary: #101010;

  --bg-darker: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--fg-primary);

  font-family: "Noto Sans", sans-serif;
}